<header>
    <p>User: {{user.name}}</p>
    <p>{{currentRoleName}}</p>
    <a href="logout" (click)="!!logout()">Logout</a>
</header>

<nav>
    <a routerLink="/users"> Users </a>
</nav>

<h1>Users Magamenent</h1>

<a routerLink="add">Add</a>

<form action="users/" method="POST">
    <fieldset>
        <legend>Actions</legend>
        <div *ngFor="let user of users">
            <input type="radio" id="user_{{user.id}}" name="{{user.name}}" value="{{user.id}}"/>
            <label for="user_{{user.id}}">
                <p>Login: {{user.login}}</p>
                <p>Name: {{user.name}}</p>
            </label>
            <p><a routerLink="{{user.id}}/edit">Edit</a></p>
        </div>
    </fieldset>
</form>
