<div class="form">
    <div class="page-title">Edit User</div>
    <div class="dx-fieldset">
        <div class="dx-field">
            <div class="dx-field-label">Name</div>
            <div class="dx-field-value">
                <dx-text-box value="{{user.name}}"></dx-text-box>
            </div>
        </div>

        <div class="dx-field">
            <div class="dx-field-label">Login</div>
            <div class="dx-field-value">
                <dx-text-box value="{{user.login}}"></dx-text-box>
            </div>
        </div>

        <div class="dx-field">
            <div class="dx-field-label">Email</div>
            <div class="dx-field-value">
                <dx-text-box value="{{user.email}}">
                    <dx-validator>
                        <dxi-validation-rule
                            type="email">
                        </dxi-validation-rule>
                    </dx-validator>
                </dx-text-box>
            </div>
        </div>

    </div>

    <dx-button
        text="Confirm"
        (onClick)="helloWorld()"
        type="success">
    </dx-button>

    <dx-button
        text="Cancel"
        (onClick)="helloWorld()"
        type="normal">
    </dx-button>
</div>
