/* You can add global styles to this file, and also import other style files */

.page-title {
    font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Verdana, sans-serif;
    line-height: 1.35715;
}

.dx-button {
    margin-right: .5em;
}
