.primary-button {
    font-family: "Open Sans", sans-serif;
    background: $primary-700;
    color: $white;
    font-weight: 700;
    font-size: $text-sm;
    border-radius: $rounded-md;
    border: none;
    padding: $m-2 $m-4;
    &:enabled {
        cursor: pointer;
    }
    &:disabled {
        background: $white;
        color: $primary-700;
    }
    &:hover:enabled {
        background: $primary-800;
    }
    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px $primary-400;
    }
}

.secondary-button {
    font-family: "Open Sans", sans-serif;
    background: transparent;
    color: $primary-700;
    font-weight: 700;
    font-size: $text-sm;
    border-radius: $rounded-md;
    border: solid 1px $primary-700;
    padding: $m-2 $m-4;
    cursor: pointer;
    &:hover {
        background: $primary-700;
        color: $white;
    }
    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px $primary-400;
    }
}

.tertiary-button {
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    background: none;
    color: $primary-700;
    font-weight: 700;
    font-size: $text-base;
    border-radius: none;
    padding: 0;
    cursor: pointer;
    &:hover {
        color: $primary-900;
    }
}
