@import "./colors.scss";
@import "./typescale.scss";
@import "./margins.scss";
@import "./borders.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import "./form.scss";
@import "./table.scss";
@import "./buttons.scss";
@import "./select.scss";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

.js-focus-visible .focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px $primary-400;
}

a {
    text-decoration: none;
}
