$m-0: 0;
$m-1: 0.25rem;
$m-2: 0.5rem;
$m-3: 0.75rem;
$m-4: 1rem;
$m-5: 1.25rem;
$m-6: 1.5rem;
$m-8: 2rem;
$m-10: 2.5rem;
$m-12: 3rem;
$m-16: 4rem;
$m-20: 5rem;
$m-24: 6rem;
$m-32: 8rem;
$m-40: 10rem;
$m-48: 12rem;
$m-56: 14rem;
$m-64: 16rem;
