select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: inherit;
    line-height: inherit;
    z-index: 1;
    outline: none;
}

select.focus-visible {
    outline: none;
    box-shadow: none !important;
}

select::-ms-expand {
    display: none;
}

.select {
    display: grid;
    position: relative;
    grid-template-areas: "select";
    align-items: center;
    width: 100%;
    min-width: 15ch;
    max-width: 40ch;
    border: solid 1px $gray-300;
    border-radius: $rounded;
    padding: $m-2 $m-3;
    font-size: $text-base;
    color: $gray-800;
    cursor: pointer;
    line-height: 1.25;
    background-color: $white;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: $gray-600;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
}

select,
.select:after {
    grid-area: select;
}

select:focus + .select-focus {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    outline: none;
    box-shadow: 0 0 0 2px $primary-400;
    border-radius: inherit;
}
