table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
    border: none;
    border-radius: $rounded-md;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

    * {
        border: none;
    }
    thead tr {
        background: $gray-200;
        color: $gray-700;
        font-size: $text-sm;
        font-weight: 500;
        text-align: left;

        th {
            padding: $m-3 $m-5;
            vertical-align: middle;
        }
    }

    tbody {
        tr:nth-child(odd) {
            background: $white;
        }

        tr:nth-child(even) {
            background: $gray-200;
        }
        td {
            color: $gray-900;
            text-align: left;
            padding: $m-5 $m-5;
            vertical-align: middle;
            font-size: $text-lg;
            font-weight: normal;
        }
    }

    td.right,
    th.right {
        text-align: right;
    }

    tr:last-child td:first-child {
        border-bottom-left-radius: $rounded-md;
    }

    th:first-child {
        border-top-left-radius: $rounded-md;
    }

    tr:last-child td:last-child {
        border-bottom-right-radius: $rounded-md;
    }

    th:last-child {
        border-top-right-radius: $rounded-md;
    }
}
